@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Sedgwick+Ave+Display&display=swap');

:root {
  --background: #0E010A;
  --primary: #D62274;
  --active: #76164A;
  --text: #D1BDCB;

  --title-font: "Sedgwick Ave Display", cursive;
  --body-font: "New Rocker", cursive;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  font-family: var(--body-font);
}

h1 {
  font-family: var(--title-font);
  color: var(--primary);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--body-font);
  color: var(--text);
  font-weight: normal;
}

p {
  margin: 0;
}

a {
  color: var(--primary);
  text-decoration: none;
}

button,
input,
textarea {
  font-family: var(--body-font);
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;

  width: 100%;
  padding: 22px 30px;

  background-color: var(--primary);
  font-family: var(--title-font);
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--background);
  text-decoration: none;
  font-family: var(--title-font);
  font-size: 1.5rem;
}

.navbar a svg {
  width: 30px;
  height: 30px;
}

.navbar a:hover {
  color: var(--text);
}

.navbar a.active {
  background-color: var(--active);
}